TELEGRAM_BOT_TOKEN=8690447267:AAG26rCoIKTYl8c6RURc91kgWAUNRMpGmq8
TELEGRAM_CHAT_ID=7035146466
TELEGRAM_VIP_CHAT_ID=
PYTHON_BACKEND_URL=http://127.0.0.1:8000
TWELVE_DATA_API_KEY=88f79ad227dd4af096080a89ecf8a631
ALPHA_VANTAGE_KEY=GO79AUGJ3JPNV965
POLYGON_API_KEY=
NEWS_BLACKOUT_MINUTES=15
